@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3 */
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  margin: 0;
  overflow: visible; /* 2 */
  clear: both;
  color: inherit;
  border-top-width: 1px;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
  /* 1 */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 0;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button;
          appearance: button; /* 1 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

@media screen and (max-width: 768px) {
  [data-only-show=pc] {
    display: none !important;
  }
}

@media not all and (max-width: 768px) {
  [data-only-show=sp] {
    display: none !important;
  }
}

body {
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo", "MS Ｐゴシック", "MS PGothic", Sans-Serif;
  color: #0f0f0f;
  line-height: 1.8;
}
img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Poiret One", serif;
  font-size: 8.8888888889vw;
  letter-spacing: -23px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 26.6666666667vw;
  }
}

h2 {
  font-family: "Poiret One", serif;
  font-size: 4.4444444444vw;
  text-align: center;
  margin-top: 180px;
  letter-spacing: -11px;
}

h3 {
  font-size: 1.3888888889vw;
  font-weight: 700;
  padding: 10px;
}

p {
  font-size: 1.25vw;
  padding: 10px;
}

.nav__list__item-link {
  font-size: 1.3888888889vw;
}

.skill-text h3 {
  font-size: 1.1111111111vw;
  font-weight: 700;
  padding: 8px 10px 0px 10px;
}

.skill-text p {
  font-size: 0.9722222222vw;
}

.mail p {
  font-family: "Raleway Dots", sans-serif;
  font-size: 6.9444444444vw;
  text-align: center;
  padding: 0px;
}

.blog_arrow__btn p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6666666667vw;
  padding: 0;
}

.loading_logo {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  inset: 0;
  display: grid;
  place-items: center;
}
.loading_logo img {
  width: 13.8888888889vw;
}
.loading_logo img .animated.hinge {
  animation-duration: 2s;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.4, 0.4, 0.4);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.loading_logo img .zoomIn {
  animation-name: zoomIn;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 90%;
  padding: 15px;
}
header .nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  header .nav__list {
    flex-direction: column;
  }
}
header .nav__list__item-link {
  position: relative;
  padding: 10px;
}
header .nav__list__item-link::before {
  background: #0f0f0f;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
header .nav__list__item-link:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.mv__container {
  background-color: #e8e2d7;
  width: 100%;
  height: 750px;
}
.mv__container .logo {
  width: 55%;
}
.mv__container .logo .logo path {
  fill: black;
  stroke: black;
  stroke-width: 0.3px;
  animation: svg-anime 3s ease-in;
}
@keyframes svg-anime {
  0% {
    fill: transparent;
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
  }
  90% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: black;
  }
}
@media screen and (max-width: 768px) {
  .mv__container .logo {
    top: 5.5555555556vw;
  }
}
.mv__container .mv__title--l {
  position: relative;
  text-align: center;
  top: 1.3888888889vw;
}
.mv__container .mv__title--s {
  position: relative;
  top: 17.3611111111vw;
  font-weight: 300;
  text-align: center;
  padding: 10px;
}
.mv__container .mv__title--s img {
  width: 10%;
}
@media screen and (max-width: 768px) {
  .mv__container .mv__title--s {
    top: 5.5555555556vw;
  }
}
.mv__container .mv__title--s > span {
  border-bottom: 1px solid #0f0f0f;
  padding: 5px 30px;
}
.mv__container .title_logo img {
  width: 10%;
}
.mv__container .scroll_down__btn {
  position: relative;
  left: 83.3333333333vw;
}
.mv__container .scroll_down__btn img {
  width: 45%;
  animation: fuwafuwa 2s infinite;
}
@keyframes fuwafuwa {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.works__list {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: center;
}
.works__list .works__item {
  width: 30%;
}

.about__wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: center;
}
.about__wrapper .about-photo {
  margin: 0 auto;
  width: 30%;
}
.about__wrapper .about-photo img {
  width: 80%;
  padding: 30px;
}
.about__wrapper .about-text {
  width: 70%;
}

.skill__wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.skill__wrapper .skill__item {
  width: 30%;
  display: flex;
}
.skill__wrapper .skill-img {
  width: 30%;
}
.skill__wrapper .skill-text {
  width: 70%;
}

.blog__wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
}
.blog__wrapper .blog__item {
  width: 30%;
}

button.blog_arrow__btn {
  position: relative;
  left: 1000px;
}
button.blog_arrow__btn img {
  width: 50%;
}

#contact {
  background-color: #e8e2d7;
  width: 100%;
  height: 365px;
  margin-top: 180px;
}
#contact h2 {
  text-align: left;
  margin: -20px 0 0 20px;
}
#contact .scroll-top__btn {
  position: relative;
  top: -30px;
  width: 100%;
  text-align: center;
  transition: transform 0.4s ease;
}
#contact .scroll-top__btn img {
  width: 5%;
}
#contact .scroll-top__btn:hover {
  transform: scale(1.2);
}

footer {
  background-color: #e8e2d7;
  width: 100%;
  height: auto;
}
footer .footer__copyright {
  text-align: center;
  margin: 50px;
}
footer .footer__sns {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
footer .footer__sns .sns__icon {
  width: 8%;
  padding: 20px;
}

.page__works__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.page__works__wrapper .page__works__item {
  width: 30%;
}
.page__works__wrapper .page__works__item-pc {
  width: 30%;
}
.page__works__wrapper .page__works__item-sp {
  width: 30%;
}
.page__works__wrapper .page__works__item-sp img {
  width: 50%;
}

span.blog__title-span {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */