@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;
// 固定ページBlog
#page-blogs {
  align-items: center;
}
.page__blogs--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page__blogs__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: vh(40);
  gap: vw(40);
}
.page__blogs--link {
  width: vw(338);
  height: vh(155);
  overflow: hidden;
}
.page__blogs--img {
  width: vw(338);
  height: vh(155);
  object-fit: cover;
  transition: transform 0.4s;
  // transition: opacity 0.3s, transform 0.3s;
}
.page__blogs--img:hover {
  // opacity: 0.5;
  transform: scale(0.8);
}
// 投稿ページBlog
#single-blog {
  display: flex;
  align-items: center;
}
.single__blog__wrapper {
}
.single__blog__container {
  width: 100%;
}

// .blog__number--box {
//   width: vw(260);
//   height: vw(520);
//   margin-top: vw(30);
// }
// .blog__number--ul {
//   width: 80%;
//   column-count: 3;
//   column-gap: vw(50);
// }

// .blog__number--li {
//   break-inside: avoid;
//   margin-bottom: 8px;
//   padding: 8px;
// }
// .blog__img {
//   object-fit: contain;
// }
