@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;
// 固定ページBlog
#page-blog {
  display: flex;
  align-items: center;
}
.page__blog__wrapper {
  display: flex;
}
.page__blog__container {
  width: vw(360);
  height: vw(585);
}
.page__blog--img {
  width: vw(155);
  height: vh(155);
}
// 投稿ページBlog
#single-blog {
  display: flex;
  align-items: center;
}
.single__blog__wrapper {
}
.single__blog__container {
  width: 100%;
}

.blog__number--box {
  width: vw(260);
  height: vw(520);
  margin-top: vw(30);
}
.blog__number--ul {
  width: 80%;
  column-count: 3;
  column-gap: vw(50);
}

.blog__number--li {
  break-inside: avoid;
  margin-bottom: 8px;
  padding: 8px;
}
.page__blog__number {
  display: block;
  font-family: $zilla-slab-highlight-regular;
  font-size: vw(64);
}
