@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

header {
  .list {
    display: flex;

    @include sp() {
      display: block;
    }

    // .list__item {
    //   &:nth-child(2) {
    //     color: red;

    //     @include sp() {
    //       color: blue;
    //     }
    //   }
    // }
  }

  // .list__item-link {
  //   @extend .button;
  // }

  // .list__item-link {
  //   @include button(100px);
  // }
}
.mv__container {
  background-color: $color-base-main;
  width: 100%;
  height: 750px;
  h6 {
    font-size: 150px;
    font-family: $YuGothic;
  }
  .T-logo img {
    width: 10%;
  }
}

.works__list {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  .works__item {
    width: 30%;
  }
}
.about__wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: center;

  .about-photo img {
    width: 50%;
  }
  .about-text {
    width: 50%;
  }
}
.skill__wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .skill__item {
    width: 30%;
    display: flex;
  }
  .skill-img {
    width: 10%;
  }
}
.blog__wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
  .blog__item {
    width: 30%;
  }
}
.contact {
  background-color: $color-base-main;
  width: 100%;
  height: 365px;
}
