@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;
// ---------------
// header
// ---------------

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 90%;
  padding: 15px;

  .nav__list {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    @include sp() {
      flex-direction: column;
    }
  }
  .nav__list__item-link {
    position: relative;
    padding: 10px;
  }
  .nav__list__item-link::before {
    background: #0f0f0f;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.3s;
  }
  .nav__list__item-link:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  // .list__item-link {
  //   @extend .button;
  // }

  // .list__item-link {
  //   @include button(100px);
  // }
}
// ---------------
// メインビジュアル
// ---------------
.mv__container {
  background-color: $color-base-main;
  width: 100%;
  height: 750px;
  .mv__title--l {
    position: relative;
    text-align: center;
    top: vw(20);
    img {
      width: 55%;
    }
    @include sp() {
      top: vw_sp(20);
    }
  }
  .mv__title--s {
    position: relative;
    top: vw(250);
    font-weight: 300;
    text-align: center;
    padding: 10px;
    img {
      width: 10%;
    }
    @include sp() {
      top: vw_sp(20);
    }
  }
  .mv__title--s > span {
    border-bottom: 1px solid $color-base-black;
    padding: 5px 30px;
  }

  .title_logo img {
    width: 10%;
  }
  .scroll_down__btn {
    position: relative;
    left: vw(1200);
    img {
      width: 45%;
      animation: fuwafuwa 2s infinite;
    }
    @keyframes fuwafuwa {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-30px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }
}

// ---------------
// works
// ---------------

.works__list {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  .works__item {
    width: 30%;
  }
}
// ---------------
// about
// ---------------

.about__wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  .about-photo {
    margin: 0 auto;
    width: 30%;
    img {
      width: 80%;
      padding: 30px;
    }
  }
  .about-text {
    width: 70%;
  }
}
// ---------------
// skill
// ---------------

.skill__wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .skill__item {
    width: 30%;
    display: flex;
  }
  .skill-img {
    width: 30%;
  }
  .skill-text {
    width: 70%;
  }
}
// ---------------
// blog
// ---------------

.blog__wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
  .blog__item {
    width: 30%;
  }
}
button.blog_arrow__btn {
  position: relative;
  left: 1000px;
  img {
    width: 50%;
  }
}
.blog_arrow__btn:hover {
}
// ---------------
// contact
// ---------------

#contact {
  background-color: $color-base-main;
  width: 100%;
  height: 365px;
  margin-top: 180px;
  h2 {
    text-align: left;
    margin: -20px 0 0 20px;
  }
  .scroll-top__btn {
    position: relative;
    top: -30px;
    width: 100%;
    text-align: center;
    transition: transform 0.4s ease;
    img {
      width: 5%;
    }
  }
  .scroll-top__btn:hover {
    transform: scale(1.2);
  }
}

// ---------------
// footer
// ---------------
footer {
  background-color: $color-base-main;
  width: 100%;
  height: auto;
  // .footer__wrapper {
  //   display: flex;
  //   justify-content: center;
  //   text-align: center;
  // }
  .footer__copyright {
    text-align: center;
    margin: 50px;
  }
  .footer__sns {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .sns__icon {
      width: 8%;
      padding: 20px;
    }
  }
}
