@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

// ---------------
// ローディングアニメーション
// ---------------
.loader {
  position: fixed;
  position: absolute;
  width: 100%;
  height: vw(750);
  // z-index: 999;
  inset: 0;
  display: grid;
  place-items: center;
  transition: opacity 0.8s ease, visibility 0s 0.8s; /* visibilityの遅延を追加 */
  &.hidden {
    opacity: 0;
    visibility: hidden; /* 完全に非表示に */
  }
}

// .loading_logo img {
//   position: relative;
//   width: 200px;
//   animation: fadeOutLogo 0.2s ease 0.5s forwards; /* フェードアウトアニメーション */
// }

// @keyframes fadeOutLogo {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

.ellipse {
  position: absolute;
  z-index: 999;
  width: 100%;
  overflow: hidden;
  height: vw(750);
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #222;
  animation: graphAnim04 2s ease 0.7s forwards; /* delayをimgのフェードアウト時間分追加 */
}

@keyframes graphAnim04 {
  0% {
    clip-path: ellipse(100% 100% at 100% 100%);
  }
  50% {
    clip-path: ellipse(100% 100% at 0% 0%);
  }
  100% {
    clip-path: ellipse(0% 0% at 0% 0%);
  }
}

// ---------------
// マウスストーカー
// ---------------
.mouse-stalker {
  pointer-events: none;
  position: fixed;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s ease-out;
  z-index: 999;

  /* is_active の状態 */
  &.is_active {
    top: -40px;
    left: -40px;
    width: 80px;
    height: 80px;
    transition: 0.2s;
  }

  /* 水滴の光のエフェクト */
  &::after {
    content: "";
    position: absolute;
    top: -25px;
    left: -55px;
    width: 30px;
    height: 25px;
    border-radius: 50% 50% 50% 50% / 50% 50% 45% 45%;
    background-image: radial-gradient(
      ellipse at center,
      white 40%,
      transparent 60%
    );
    background-size: 10px 6px;
    background-position: 60% 25%;
    background-repeat: no-repeat;

    /* 光と影のボックスシャドウ */
    box-shadow:        // left shadow
      inset 14px 0px 5px -10px rgba(0, 0, 0, 0.2),
      inset 13px 0px 2px -10px rgba(0, 0, 0, 0.2),
      // main bottom shadow
      inset 0px -3px 5px 0px rgba(250, 241, 220, 0.5),
      inset 0px -20px 10px 1px rgba(255, 255, 255, 0.3),
      // right shadow
      inset -20px 10px 5px -20px rgba(0, 0, 0, 0.3),
      inset -20px 15px 10px -20px rgba(0, 0, 0, 0.2),
      // main top shadow
      inset 0px 20px 30px -5px rgba(0, 0, 0, 0.3),
      // blur bottom border
      0px 2px 1px -1px rgba(245, 227, 183, 0.8),
      // tiny right/left shadows
      -16px 13px 5px -20px rgba(0, 0, 0, 1),
      17px 13px 5px -20px rgba(0, 0, 0, 1), 15px 19px 5px -20px rgba(0, 0, 0, 1),
      // tiny reflection
      -2px 34px 1px -30px rgba(0, 0, 0, 0.4),
      -2px 35px 3px -30px rgba(255, 255, 255, 0.3),
      // main shadows
      -1px 16px 3px -5px rgba(0, 0, 0, 0.5),
      -1px 21px 3px -5px rgba(0, 0, 0, 0.4),
      // blur top border
      1px -1px 5px 0px rgba(50, 50, 50, 0.5);
  }

  /* 水滴のテクスチャ */
  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -55px;
    width: 30px;
    height: 25px;
    border-radius: 50% 50% 50% 50% / 50% 50% 45% 45%;
    background-color: rgba(255, 255, 255, 0.2); /* 水滴の透明感 */
    filter: url(#water);
  }
}

// ---------------
// header
// ---------------
header {
  position: fixed;
  position: absolute;
  top: 0;
  z-index: 1;
}
.header__wrapper {
  display: flex;
}
.title_logo {
  img {
    width: 33%;
  }
}
.nav__container {
  padding-top: vw(30);
  padding-left: vw(400);
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;

  @include sp() {
    flex-direction: column;
  }
}

.nav__list__item-link {
  position: relative; /* 必須: ::beforeの相対基準 */
  padding: 10px;

  &::before {
    content: "";
    background: #0f0f0f;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: right top;
    transform: scale(0, 1); /* 修正: スペースで区切る */
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform-origin: left top;
    transform: scale(1, 1); /* 修正: スペースで区切る */
  }
}

// .list__item-link {
//   @extend .button;
// }

// .list__item-link {
//   @include button(100px);
// }

// ---------------
// メインビジュアル
// ---------------
#mv {
}
.mv__container {
  position: relative;
  top: 0;
  background-color: $color-base-main;
  width: 100%;
  height: vw(750);
  @include sp() {
    top: vw_sp(20);
  }
}
// ポートフォリオのロゴ
.mv__title--l {
  text-align: center;
}
.mv__logo--pf {
  margin-top: vw(300);
  width: 55%;
  path {
    fill: $color-base-black;
    stroke: $color-base-black;
    stroke-width: 0.5px;
    animation: svg-anime 3s ease-in;
  }
}
// ウエブデザイナーのロゴ
.mv__title--s {
  margin: vw(200) auto vw(0) auto;
  text-align: center;
  @include sp() {
    top: vw_sp(20);
  }
}
.mv__logo--web {
  width: 10%;
  margin: vw(10);
  path {
    fill: $color-base-black;
    stroke: $color-base-black;
    stroke-width: 0.5px;
    animation: svg-anime 3s ease-in;
  }
}
@keyframes svg-anime {
  0% {
    fill: transparent;
    stroke-dasharray: 200px;
    stroke-dashoffset: 800px;
  }
  80% {
    fill: transparent;
    stroke-dasharray: 200px;
    stroke-dashoffset: 1000px;
  }
  100% {
    fill: $color-base-black;
  }
}
// ウエブデザイナーの下線
.mv__title--s > span {
  border-bottom: 1px solid $color-base-black;
  padding: 5px 30px;
}

.scrollDown__btn {
  margin-top: vw(-250);
  margin-left: vw(1200);
  img {
    width: 70%;
    animation: fuwafuwa 2s infinite;
  }
  @keyframes fuwafuwa {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

// ---------------
// works
// ---------------
// swiperここから
.l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 11.25rem;
}

.l-section {
  // border-top: 1px solid #eee;
}
.l-section .l-inner {
  padding-top: vw(70);
  padding-bottom: vw(40);
}

[class*="swiper"]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}
.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  display: grid;
  place-content: center;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.swiper-button-prev::before,
.swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid var(--color-gray);
  border-width: 3px 3px 0 0;
}
.swiper-button-prev::after {
  margin-left: 0.4rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.swiper-button-next::after {
  margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.card05 {
  overflow: hidden;
}
.card05 .swiper {
  overflow: visible;
}
.card05 .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.card05 .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.card05 .slide {
  overflow: hidden;
  // width: 20rem;
  width: vw(345);
  height: vw(520);
  border-radius: 4px;
  box-shadow: 10px 10px 20px 0px #e8e2d7;
  // -webkit-box-shadow: var(--box-shadow);
  // box-shadow: var(--box-shadow);
}
.card05 .slide-media {
  padding-top: 62.5%;
  width: vw(345);
  height: vw(350);
}
.card05 .slide-media img {
  // height: calc(100% + 16px);
  width: 100%;
  // -webkit-transform: translateY(-16px);
  // transform: translateY(-16px);
}
.card05 .slide-content {
  // padding: 3.2rem;
}
.card05 .slide-title {
  margin-top: vw(20);
  margin-left: vw(15);
  // font-size: vw(20);
  // line-height: 1;
  // display: block;
  // color: var(--color-theme);
}
.card05 .slide-text {
  margin-left: vw(15);
  // line-height: 1.6;
  // display: -webkit-box;
  // overflow: hidden;
  // -webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
  // height: 3.2em;
  // margin-top: 1.6rem;
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  .l-inner {
    padding: 0 4rem;
  }
  .pc {
    display: none !important;
  }
}

@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }
  .pc-tab {
    display: none !important;
  }
  .card05 .slide {
    width: 24rem;
  }
}

@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
  .swiper-button-prev::before,
  .swiper-button-next::before {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-button-prev:hover::before,
  .swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .card05 .slide {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card05 .slide img {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card05 .slide:hover {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
    -webkit-box-shadow: var(--box-shadow-hover);
    box-shadow: var(--box-shadow-hover);
  }
  .card05 .slide:hover img {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .card05 .swiper:hover .slide:not(:hover) {
    opacity: 0.3;
  }
}

@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}
// swiperここまで

.works__list {
  display: flex;
  justify-content: center;
  .works__item {
    width: 20%;
  }
}
// ---------------
// about
// ---------------

.about__wrapper {
  margin: vw(70) auto vw(0) auto;
  display: flex;
  align-items: center;
  .about-photo {
    width: 30%;
    img {
      width: 70%;
    }
  }
  .about__text {
    width: 70%;
  }
}
// ---------------
// skill
// ---------------

.skill__wrapper {
  margin: vw(70) auto vw(0) auto;
  display: flex;
  flex-wrap: wrap;
  gap: vw(30);
  justify-content: space-around;
  .skill__item {
    width: 30%;
    display: flex;
  }
  .skill__img {
    width: 30%;
    margin-top: vw(20);
  }
  .skill__text {
    width: 70%;
  }
}
// ---------------
// blog
// ---------------

.blog__wrapper {
  display: flex;
  justify-content: space-around;
  gap: vw(40);
  margin: vw(70) auto vw(0) auto;
}
.blog__item--box {
  position: relative;

  .blog__number {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
  .blog__img {
    width: 100%;
    margin-top: vw(70);
  }
}
button.blog_arrow__btn {
  margin-top: vw(50);
  margin-left: vw(980);
  img {
    margin-top: -50px;
    width: 100%;
  }
}
.blog_arrow__btn:hover {
}

// ---------------
// contact
// ---------------

#contact {
  background-color: $color-base-main;
  width: 100%;
  height: auto;
  margin-top: vw(180);
  h2 {
    text-align: left;
    margin: vw(-20) vw(0) vw(0) vw(20);
  }
  .scroll-top__btn {
    position: relative;
    top: vw(30);
    width: 100%;
    text-align: center;
    transition: transform 0.4s ease;
    img {
      width: 8%;
      position: relative;
      top: vw(-80);
    }
  }
  .scroll-top__btn:hover {
    transform: scale(1.2);
  }
}

// ---------------
// footer
// ---------------
footer {
  background-color: $color-base-main;
  width: 100%;
  height: auto;
  .footer__copyright {
    text-align: center;
    padding: vw(50);
  }
  .footer__sns {
    width: 80%;
    margin: vw(70) auto vw(0) auto;
    text-align: center;
    .sns__icon {
      width: 8%;
      padding: vw(20);
    }
  }
}
