@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

.page__works__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  .page__works__item {
    width: 30%;
  }
}
