@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

// 固定ページworks
#page-works {
  align-items: center;
}
.page__works--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page__works__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: vh(40);
  gap: vw(40);
  @include sp() {
    flex-direction: column;
  }
}
.page__works__container {
  margin: 0 auto;
}
.page__works--img {
  width: vw(338);
  height: vh(155);
  object-fit: cover;
  transition: opacity 0.3s, transform 0.4s;
  @include sp() {
    width: vw_sp(270);
    height: vh_sp(124);
  }
}
.page__works--img:hover {
  opacity: 0.5;
  transform: scale(0.8);
  @include not_sp() {
    .page__works--img:hover {
      opacity: 0.5;
      transform: scale(0.8);
    }
  }
}
