@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;

html {
  // pc,sp共通
  // font-size: 1.6667vw;
}

body {
  // font-family: $noto-sans;
  // font-size: vw(16);
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo",
    "MS Ｐゴシック", "MS PGothic", Sans-Serif;
  color: $color-base-black;
  line-height: 1.8;
  // letter-spacing: 0;

  @include sp() {
    // font-size: vw_sp(13);
  }
}

img {
  width: 100%;
  height: auto;
}

// svg {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: auto;
// }
// ①@extendの使い方
// extendはすでに作られているクラスを使いまわせる
// .button {
//   color: #333;
//   font-size: 16px;
//   display: inline-block;
//   margin-top: 20px;
//   padding: 8px 16px;
//   border: 1px solid #333;
//   text-decoration: none;
// }
.mv__title--l {
  font-family: "YuGothic";
  font-size: vw(150);
  text-align: center;
  letter-spacing: 0px;
}
.mv__title--s {
  font-size: vw(20);
  font-weight: 700;
  padding: 10px;
}
h1 {
  font-family: $poiret-one-regular;
  font-size: vw(128);
  letter-spacing: -23px;

  @include sp() {
    font-size: vw_sp(96);
  }
}
h2 {
  font-family: $poiret-one-regular;
  font-size: vw(64);
  text-align: center;
  margin-top: 180px;
  letter-spacing: -11px;
}
h3 {
  font-size: vw(20);
  font-weight: 700;
  padding: 10px;
}
p {
  font-size: vw(18);
  padding: 10px;
}
.nav__list__item-link {
  font-size: vw(20);
}
.skill-text h3 {
  font-size: vw(16);
  font-weight: 700;
  padding: 8px 10px 0px 10px;
}
.skill-text p {
  font-size: vw(14);
}
.mail p {
  font-family: $raleway-dots-regular;
  font-size: vw(100);
  text-align: center;
  padding: 0px;
}
.blog_arrow__btn p {
  font-family: $rajdhani-regular;
  font-size: vw(24);
  padding: 0;
}

// #mouse-stalker {
//   pointer-events: none;
//   position: fixed;
//   top: -10px;
//   left: -10px;
//   width: 20px;
//   height: 20px;
//   background: rgba(0, 165, 160, 0.5);
//   border-radius: 50%;
//   transform: translate(0, 0);
//   transition: transform 0.2s;
//   transition-timing-function: ease-out;
//   z-index: 999;

//   &.is_active {
//     top: -40px;
//     left: -40px;
//     width: 80px;
//     height: 80px;
//     transition: 0.2s;
//     background: rgba(255, 90, 95, 0.5);
//   }
// }

// .dropplets {
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   transform: rotateZ(8deg);
// }

#mouse-stalker {
  pointer-events: none;
  z-index: 999;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  position: absolute;

  top: calc(50% - 130px);
  left: calc(50% + 110px);
  // light
  &::after {
    content: "";
    top: -25px;
    left: -55px;
    position: absolute;
    width: 80px;
    height: 75px;
    border-radius: 50% 50% 50% 50% / 50% 50% 45% 45%;
    background-image: radial-gradient(
      ellipse at center,
      white 40%,
      transparent 60%
    );
    background-size: 10px 6px;
    background-position: 60% 25%;
    background-repeat: no-repeat;
    // welcome to the shadow realm
    box-shadow:
        // left shadow
      inset 14px 0px 5px -10px rgba(0, 0, 0, 0.2),
      inset 13px 0px 2px -10px rgba(0, 0, 0, 0.2),
      // main bottom shadow
      inset 0px -3px 5px 0px rgba(250, 241, 220, 0.5),
      inset 0px -20px 10px 1px rgba(255, 255, 255, 0.3),
      // right shadow
      inset -20px 10px 5px -20px rgba(0, 0, 0, 0.3),
      inset -20px 15px 10px -20px rgba(0, 0, 0, 0.2),
      // main top shadow
      inset 0px 20px 30px -5px rgba(0, 0, 0, 0.3),
      // blur bottom border
      0px 2px 1px -1px rgba(245, 227, 183, 0.8),
      // tiny right/left shadows
      -16px 13px 5px -20px rgba(0, 0, 0, 1),
      17px 13px 5px -20px rgba(0, 0, 0, 1), 15px 19px 5px -20px rgba(0, 0, 0, 1),
      // tiny reflection
      -2px 34px 1px -30px rgba(0, 0, 0, 0.4),
      -2px 35px 3px -30px rgba(255, 255, 255, 0.3),
      // main shadows
      -1px 16px 3px -5px rgba(0, 0, 0, 0.5),
      -1px 21px 3px -5px rgba(0, 0, 0, 0.4),
      // blur top border
      1px -1px 5px 0px rgba(50, 50, 50, 0.5);
  }

  // texture
  &::before {
    content: "";
    top: -25px;
    left: -55px;
    position: absolute;
    width: 80px;
    height: 75px;
    border-radius: 50% 50% 50% 50% / 50% 50% 45% 45%;
    // background-color: red;
    // filter: url(#water);
  }
}
