@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;

html {
  // pc,sp共通
  // font-size: 1.6667vw;
}

body {
  // font-family: $noto-sans;
  // font-size: vw(16);
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo",
    "MS Ｐゴシック", "MS PGothic", Sans-Serif;
  color: $color-base-black;
  line-height: 1.8;
  // letter-spacing: 0;

  @include sp() {
    // font-size: vw_sp(13);
  }
}

img {
  width: 100%;
  height: auto;
}

// svg {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: auto;
// }
// ①@extendの使い方
// extendはすでに作られているクラスを使いまわせる
// .button {
//   color: #333;
//   font-size: 16px;
//   display: inline-block;
//   margin-top: 20px;
//   padding: 8px 16px;
//   border: 1px solid #333;
//   text-decoration: none;
// }
.mv__title--l {
  // font-family: "YuGothic";
  // font-size: vw(1);
  // text-align: center;
}
.mv__title--s {
  // font-size: vw(1);
  // font-weight: 700;
}
h1 {
  font-family: $poiret-one-regular;
  font-size: vw(128);
  letter-spacing: -23px;

  @include sp() {
    font-size: vw_sp(96);
  }
}
h2 {
  font-family: $poiret-one-regular;
  font-size: vw(64);
  text-align: center;
  margin-top: 180px;
  letter-spacing: -11px;
  visibility: hidden;
}
h3 {
  font-size: vw(20);
  font-weight: 700;
  padding: 10px;
}
p {
  font-size: vw(18);
  padding: 10px;
}
.nav__list__item-link {
  font-size: vw(20);
}
.skill-text h3 {
  font-size: vw(16);
  font-weight: 700;
  padding: 8px 10px 0px 10px;
}
.skill-text p {
  font-size: vw(14);
}
.mail p {
  font-family: $raleway-dots-regular;
  font-size: vw(100);
  text-align: center;
  padding: 0px;
}
.blog_arrow__btn p {
  font-family: $rajdhani-regular;
  font-size: vw(24);
  padding: 0;
}
