@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;

html {
  // pc,sp共通
}

body {
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo",
    "MS Ｐゴシック", "MS PGothic", Sans-Serif;
  color: $color-base-black;
  line-height: 1.8;

  @include sp() {
    // font-size: vw_sp(13);
  }
}

img {
  width: 100%;
  height: auto;
}

.section__padding {
  padding: vw(180 170 0 170);
}
// svg {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: auto;
// }
// ①@extendの使い方
// extendはすでに作られているクラスを使いまわせる
// .button {
//   color: #333;
//   font-size: 16px;
//   display: inline-block;
//   margin-top: 20px;
//   padding: 8px 16px;
//   border: 1px solid #333;
//   text-decoration: none;
// }
h1 {
  // font-family: $poiret-one-regular;
  // font-size: vw(128);
  // letter-spacing: (-0.1);

  // @include sp() {
  //   font-size: vw_sp(96);
  // }
}
h2 {
  font-family: $poiret-one-regular;
  font-size: vw(64);
  text-align: center;
  letter-spacing: calc(-48 / 64 * 1vw); /* -11px ÷ 64px をvwで計算 */
  // visibility: hidden;
}
h3 {
  font-size: vw(20);
  font-weight: 700;
}
p {
  font-size: vw(18);
}
.nav__list__item-link {
  font-size: vw(20);
}
.skill__text--h3 {
  font-size: vw(16);
  font-weight: 700;
  padding: 8px 10px 0px 10px;
}
.skill__text--p {
  font-size: vw(14);
}

.blog_arrow__btn--p {
  font-family: $rajdhani-regular;
  font-size: vw(24);
}
.mailAddress {
  font-family: $raleway-dots-regular;
  font-size: vw(100);
  text-align: center;
  padding: 0px;
}
